<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Home</title>
</head>
<body>

    <header id="inicio">
        <nav class="nav-header">
            <ul>
                <li><img src="img/burger-menu.svg" alt="menu"></li>

                <div class="menu-header">
                <li class="opciones categorias">Categorías</li>
                <li class="opciones header-gris">LOL</li>
                <li class="opciones header-gris">CryBabies</li>
                <li class="opciones header-gris">Funko</li>
                <li class="opciones hot-sale">Hot sale!</li>
                </div>

            </ul>
        </nav>

        <img src="img/vector-cruce-header.png" alt="cruce" class="logo-cruce">

        <div class="iconos-header-derecha">
          
            <img src="img/search.svg" alt="lupa" class="icono-lupa">
       
            <img src="img/user.svg" alt="usuario" class="icono-usuario">
        
            <img src="img/cart.svg" alt="carrito">
            
        </div>
        <p class="productos-en-carrito">3</p>
    </header>

    <main>


       


        <div class="envio-gratis">
            <p>Sólo por hoy : evío gratis en todos los productos!</p>
           
            <img src="img/close.svg" alt="cerrar aviso">
        </div>

        <div class="que-estas-buscando">
            <img src="img/search.svg" alt="lupa" class="icono-lupa-busqueda">
            <input type="text" placeholder="     ¿Qué estás buscando?">
        </div>

        <section class="informacion-envios-pagos">


            <section class="info-mobile">
               
                    
                <div class="item-info-mobile">
                    <div class="caja-item"></div>
    
                    
                    <img src="img/tarjeta-de-credito.svg" alt="tarjeta de credito">
                   
    
                    <div class="texto-info-mobile">
                    <p class="doce-cuotas">12 y 18 Cuotas</p>
                    <p class="sin-interes">¡Sin interés!</p>
                    </div>
                </div>

                <div class="item-info-mobile">
                    <div class="caja-item"></div>
                    <img src="img/camion-envios.svg" alt="camion de envios">

                    <div class="texto-info-mobile">
                    <p class="doce-cuotas">Envío gratis</p>
                    <p class="sin-interes">En todas las compras</p>
                    </div>
                </div>


                <div class="item-info-mobile">
                    
                    <img src="img/moto.svg" alt="moto de envio">

                    <div class="texto-info-mobile moto">
                    <p class="doce-cuotas">Te llega en 24hs</p>
                    <p class="costo-adicional">Con costo adicional</p>
                    </div>
                </div>

            </section>


        </section>

      

        <section class="llego-el-invierno-mobile">
            <h5>Llegó el invierno!</h3>
        </section>



        <div class="cuatro-productos">



            <section class="productos-uno">
                <article class="producto">
                    <div class="img-producto">
                    <img src="img/funko1.png" alt="funko">
                   
                    </div>
                    <img src="img/descuento-10.png" alt="" class="descuento"> 
                    <p class="porcentaje-descuento porcentaje-primeros-productos">10%</p>
                    <p class="funko">Funko</p>
                    <h4>Funko POP | Game Of Thrones - Daenerys 25</h4>
                    <p class="texto-gris">6 Cuotas s/interés de</p>
                    <p class="precio-cuotas">$211,50</p>
    
                    <div class="precio-final">
                    <p>Final: </p>
                    <p class="tachado">$2.390</p>
                    <p class="precio-final-rojo">$1.269</p>
                    </div>
    
                    <img src="img/cart-green.png" alt="carrito" class="carrito-producto">
                </article>
    
                <article class="producto productos-hacia-abajo">
                    <div class="img-producto">
                    <img src="img/funko2.png" alt="funko">
                    </div>
                    <p class="funko">Funko</p>
                    <h4>Funko POP | Game Of Thrones - Daenerys 25</h4>
                    <p class="texto-gris">6 Cuotas s/interés de</p>
                    <p class="precio-cuotas">$211,50</p>
    
                    <div class="precio-final">
                    <p>Final: </p>
                    <p class="tachado final-normal">$2.390</p>
                    <p class="precio-final-rojo final-rojo-mobile">$1.269</p>
                    </div>
    
                    <img src="img/cart-green.png" alt="carrito" class="carrito-producto">
                </article>
    
    
               
    
                <div class="llego-el-invierno">
                    <h5>Llegó el invierno, encontralo antes que nadie</h3>
                    <p>La colección más completa de Game of Thrones está en X</p>
                    <a href="#">Ver colección</a>
                    </div>
    
    
            </section>
    
    
    
    
    
            <div class="logo-wsp">
                <a href="https://web.whatsapp.com/" target="_blank">
                <img src="img/productos-list/logo-wsp.png" alt="" class="logo-fijo">
                </a>
            </div>
    
    
    
    
            <section class="productos-dos">
    
                <article class="producto">
                    <div class="img-producto">
                    <img src="img/funko3.png" alt="funko" >
                    </div>
                    <p class="funko">Funko</p>
                    <h4>Funko POP | Game Of Thrones - Daenerys 25</h4>
                    <p class="texto-gris">6 Cuotas s/interés de</p>
                    <p class="precio-cuotas">$211,50</p>
    
                    <div class="precio-final">
                        <p>Final: </p>
                        <p class="tachado final-normal">$2.390</p>
                    <p class="precio-final-rojo final-rojo-mobile">$1.269</p>
                    </div>
    
                    <img src="img/cart-green.png" alt="carrito" class="carrito-producto">
                </article>
    
    
                <article class="producto productos-hacia-abajo">
                    <div class="img-producto">
                    <img src="img/funko4.png" alt="funko" >
                    </div>
                    <img src="img/descuento-10.png" alt="" class="descuento-no-visible">
                    <p class="funko">Funko</p>
                    <h4>Funko POP | Game Of Thrones - Daenerys 25</h4>
                    <p class="texto-gris">6 Cuotas s/interés de</p>
                    <p class="precio-cuotas">$211,50</p>
    
                    <div class="precio-final">
                    <p>Final: </p>
                    <p class="tachado">$2.390</p>
                    <p class="precio-final-rojo">$1.269</p>
                    </div>
    
                    <img src="img/cart-green.png" alt="carrito" class="carrito-producto">
                </article>
    
                <article class="producto producto-mobile">
                    <div class="img-producto">
                    <img src="img/funko5.png" alt="funko" >
                    </div>
                    <img src="img/descuento-10.png" alt="" class="descuento"> 
                    <p class="porcentaje-descuento porcentaje-primeros-productos">10%</p>
                    <p class="funko">Funko</p>
                    <h4>Funko POP | Game Of Thrones - Daenerys 25</h4>
                    <p class="texto-gris">6 Cuotas s/interés de</p>
                    <p class="precio-cuotas">$211,50</p>
    
                    <div class="precio-final">
                    <p>Final: </p>
                    <p class="tachado">$2.390</p>
                    <p class="precio-final-rojo">$1.269</p>
                    </div>
    
                    <img src="img/cart-green.png" alt="carrito" class="carrito-producto">
                </article>
    
    
                <article class="producto producto-mobile productos-hacia-abajo">
                    <div class="img-producto">
                    <img src="img/funko6.png" alt="funko">
                    </div>
                    <p class="funko">Funko</p>
                    <h4>Funko POP | Game Of Thrones - Daenerys 25</h4>
                    <p class="texto-gris">6 Cuotas s/interés de</p>
                    <p class="precio-cuotas">$211,50</p>
    
                    <div class="precio-final">
                        <p>Final: </p>
                        <p class="tachado final-normal">$2.390</p>
                        <p class="precio-final-rojo final-rojo-mobile">$1.269</p>
                    </div>
    
                    <img src="img/cart-green.png" alt="carrito" class="carrito-producto">
                </article>
    
    
            </section>
    
            
    
            </div>

        <div class="boton-ver-coleccion-mobile">
            <a href="">Ver colección</a>
        </div>

        <section class="nuestras-marcas">
            <h3>Nuestras marcas</h3>
            <div class="marcas">

                <div class="flechas-nuestras-marcas">
                <img src="img/flecha-izq.svg" alt="flecha izquierda">
                <img src="img/flecha-der.svg" alt="flecha derecha">
                </div>

                <div class="imagen-de-marca">
                    <img src="img/disney.png" alt="disney">
                </div>

                <div class="imagen-de-marca imagen-de-marca-no-mobile">
                    <img src="img/logo_destacado_funko.png" alt="funko">
                </div>

                <div class="imagen-de-marca imagen-de-marca-no-mobile">
                    <img src="img/logo_destacado_LOL.png" alt="lol">
                </div>

                <div class="imagen-de-marca">
                    <img src="img/marvel.png" alt="marvel">
                </div>

                <div class="imagen-de-marca imagen-de-marca-no-mobile">
                    <img src="img/disney.png" alt="disney">
                </div>

                <div class="imagen-de-marca imagen-de-marca-no-mobile">
                    <img src="img/logo_destacado_funko.png" alt="funko">
                </div>

                <div class="imagen-de-marca imagen-de-marca-no-mobile">
                    <img src="img/logo_destacado_LOL.png" alt="lol">
                </div>
            </div>
        </section>


        <section class="info-mobile info-mobile-no-pc">
            <div class="img-flechas">
            <img src="img/flecha-izq.svg" alt="flecha izquierda">
            </div>
           
                
            <div class="item-info-mobile">
                <div class="caja-item"></div>

                
                <img src="img/tarjeta-de-credito.svg" alt="tarjeta de credito">
               

                <div class="texto-info-mobile">
                <p class="doce-cuotas">12 y 18 Cuotas</p>
                <p class="sin-interes">¡Sin interés!</p>
                </div>
            </div>
        
            <div class="img-flechas">
            <img src="img/flecha-der.svg" alt="flecha derecha">
            </div>
        </section>
        



        <section class="juguetes-del-dia">
            <h2>Juguete del día</h2>

            <div class="play"><img src="img/play.svg" alt="play"></div>


            <div class="video-y-juguete-del-dia">

            <div class="video-juguete"><img src="img/nuevos-pop.png" alt="nuevos pop"></div>

            <article>
                <img src="img/funko3.png" alt="funko" class="img-funko-del-dia">
                <img src="img/descuento-10.png" alt="" class="descuento-destacado"> 
                <p class="porcentaje-descuento-destacado">10%</p>

                <div class="texto-funko">

            
                  


                <p class="funko">Funko</p>
                <h4>Funko POP | Game Of Thrones - Daenerys 25</h4>
                <p class="texto-gris">6 Cuotas s/interés de</p>
                <p class="precio-cuotas">$211,50</p>

                <div class="precio-final">
                <p>Final: </p>
                <p class="tachado">$2.390</p>
                <p class="precio-final-rojo">$1.269</p>
                </div>
                <img src="img/cart-green.png" alt="carrito" class="carrito-producto">
                </div>
            </article>

        </div>
        </section>



        <section class="lo-mas-buscado">
            <div class="titulo-lo-mas-buscado">
                <h4>Lo más buscado</h3>
            </div>

            
                <article class="producto-seccion-mas-buscado">
                    <img src="img/dino.png" alt="dino">

                    <div class="texto-dino">
                    <p>Dinosaurio robot para armar</p>
                    <p class="precio-tachado-robots">$1.500</p>
                    <p class="precio-robots">$1.350</p>
                    </div>
                </article>

                <article class="producto-seccion-mas-buscado">
                    <img src="img/mochila-dino.png" alt="dino">
                    
                    <div class="texto-dino">
                    <p>Mochila de ToyStory</p>
                    <p class="precio-tachado-robots precio-invisible">$1.500</p>
                    <p class="precio-robots precio-robots-negro">$2.580</p>
                    </div>
                </article>

                <article class="producto-seccion-mas-buscado">
                    <img src="img/dino.png" alt="dino">

                    <div class="texto-dino">
                    <p>Dinosaurio robot para armar</p>
                    <p class="precio-tachado-robots">$1.500</p>
                    <p class="precio-robots">$1.350</p>
                    </div>
                </article>

                <article class="producto-seccion-mas-buscado">
                    <img src="img/mochila-dino.png" alt="dino">
                    
                    <div class="texto-dino">
                    <p>Mochila de ToyStory</p>
                    <p class="precio-tachado-robots precio-invisible">$1.500</p>
                    <p class="precio-robots precio-robots-negro">$2.580</p>
                    </div>
                </article>

                <article class="producto-seccion-mas-buscado">
                    <img src="img/dino.png" alt="dino">

                    <div class="texto-dino">
                    <p>Dinosaurio robot para armar</p>
                    <p class="precio-tachado-robots">$1.500</p>
                    <p class="precio-robots">$1.350</p>
                    </div>
                </article>
            
        </section>



        <section class="novedades">
            <h2>Novedades</h2>
            <a href="">ver todo</a>

            <div class="articulos-novedades">
                <article class="producto-novedades mochila-novedades">
                    <img src="img/mochila.png" alt="funko" class="producto-img-novedades">
                    <p class="funko">Jansport</p>
                    <h4>Mochila Madalyn Floral</h4>
                    <p class="texto-gris">6 Cuotas s/interés de</p>
                    <p class="precio-cuotas">$211,50</p>
    
                    <div class="precio-final">
                    <p>Final: </p>
                    <p class="tachado final-normal">$2.390</p>
                    <p class="precio-final-rojo final-rojo-mobile">$1.269</p>
                    </div>
                    <img src="img/cart-green.png" alt="carrito" class="carrito-producto">
                </article>


                <article class="producto-novedades">
                    <img src="img/funko2.png" alt="funko" class="funko-novedades producto-img-novedades">
                    <p class="funko">Funko</p>
                <h4>Funko POP | Game Of Thrones - Daenerys 25</h4>
                <p class="texto-gris">6 Cuotas s/interés de</p>
                <p class="precio-cuotas">$211,50</p>

                <div class="precio-final">
                <p>Final: </p>
                <p class="tachado final-normal">$2.390</p>
                    <p class="precio-final-rojo final-rojo-mobile">$1.269</p>
                </div>
                    <img src="img/cart-green.png" alt="carrito" class="carrito-producto">
                </article>

                <article class="producto-novedades mochila-novedades">
                    <img src="img/mochila.png" alt="funko" class="producto-img-novedades">
                    <p class="funko">Jansport</p>
                    <h4>Mochila Madalyn Floral</h4>
                    <p class="texto-gris">6 Cuotas s/interés de</p>
                    <p class="precio-cuotas">$211,50</p>
    
                    <div class="precio-final">
                    <p>Final: </p>
                    <p class="tachado final-normal">$2.390</p>
                    <p class="precio-final-rojo final-rojo-mobile">$1.269</p>
                    </div>
                    <img src="img/cart-green.png" alt="carrito" class="carrito-producto">
                </article>


                <article class="producto-novedades">
                    <img src="img/funko1.png" alt="funko" class="funko-novedades producto-img-novedades">
                    <img src="img/descuento-10.png" alt="" class="descuento-novedades"> 
                     <p class="porcentaje-descuento-novedades">10%</p>
                    <p class="funko funko-descuento">Funko</p>
                    <h4>Funko POP | Game Of Thrones - Daenerys 25</h4>
                    <p class="texto-gris">6 Cuotas s/interés de</p>
                    <p class="precio-cuotas">$211,50</p>
    
                    <div class="precio-final">
                    <p>Final: </p>
                    <p class="tachado">$2.390</p>
                    <p class="precio-final-rojo">$1.269</p>
                    </div>
                    <img src="img/cart-green.png" alt="carrito" class="carrito-producto">
                </article>

            </div>

            <div class="flechas-cuatro-de-doce">

            <div class="flechas-novedades-mobile">
                <img src="img/flecha-izq.svg" alt="flecha izquierda">
                <img src="img/flecha-der.svg" alt="flecha derecha">
            </div>    
            
            


            <p class="dos-de-doce-mobile">2 de 12</p>
            <p class="cuatro-de-doce">4 de 12</p>
            </div>

        </section>




        <section class="fotos-jansport">
            
            <article class="banners-jansport">
                <img src="img/jansport.png" alt="jansport" class="banner-principal">
                <img src="img/jansport2.png" alt="jansport" class="banner-secundario">
            </article>

            <div class="articulo-jansport">

            <article class="producto-jansport">
                <img src="img/mochila2.png" alt="funko" class="img-jansport-banners">
                <p class="funko">Jansport</p>
                <h4>Mochila Madalyn Floral</h4>
                <p class="texto-gris">6 Cuotas s/interés de</p>
                <p class="precio-cuotas">$211,50</p>

                <div class="precio-final">
                <p>Final: </p>
                <p class="precio-final-mochila-banners">$1.269</p>
                <img src="img/cart-green.png" alt="carrito" class="carrito-producto carrito-jansport">
            </article>

            <div class="flechas-producto-jansport">
                <p>1 de 3</p>

                <div class="img-flechas-producto-jansport">
                    <img src="img/flecha-izq.svg" alt="flecha izquierda">
                    <img src="img/flecha-der.svg" alt="flecha derecha">
                </div>
              
            </div>

           

            
            </div>

        </section>



        <section class="tiempo-limitado">

            <div class="tiempo-limitado-duracion">
            <p class="termina-en">Termina en: </p>
            <p class="hora-finalizacion">23:03:04</p>


            <div class="horas-minutos-segundos">
            <p>HS</p>
            <p>min</p>
            <p>seg</p>
            </div>


            </div>

            
            <article class="producto-seccion-mas-buscado">
                <img src="img/dino.png" alt="dino">

                <div class="texto-dino">
                <p>Dinosaurio robot para armar</p>
                <p class="precio-tachado-robots">$1.500</p>
                <p class="precio-robots">$1.350</p>
                </div>
            </article>

            <article class="producto-seccion-mas-buscado">
                <img src="img/mochila-dino.png" alt="dino">
                
                <div class="texto-dino">
                <p>Mochila de ToyStory</p>
                <p class="precio-tachado-robots precio-invisible">$1.500</p>
                <p class="precio-robots precio-robots-negro">$2.580</p>
                </div>
            </article>

            <article class="producto-seccion-mas-buscado">
                <img src="img/dino.png" alt="dino">

                <div class="texto-dino">
                <p>Dinosaurio robot para armar</p>
                <p class="precio-tachado-robots">$1.500</p>
                <p class="precio-robots">$1.350</p>
                </div>
            </article>

            <article class="producto-seccion-mas-buscado">
                <img src="img/mochila-dino.png" alt="dino">
                
                <div class="texto-dino">
                <p>Mochila de ToyStory</p>
                <p class="precio-tachado-robots precio-invisible">$1.500</p>
                <p class="precio-robots precio-robots-negro">$2.580</p>
                </div>
            </article>

            <article class="producto-seccion-mas-buscado">
                <img src="img/dino.png" alt="dino">

                <div class="texto-dino">
                <p>Dinosaurio robot para armar</p>
                <p class="precio-tachado-robots">$1.500</p>
                <p class="precio-robots">$1.350</p>
                </div>
            </article>

           
        </section>




        <section class="novedades">
            <h2>Novedades</h2>
            <a href="">ver todo</a>

            <div class="articulos-novedades">

                <article class="producto-novedades">
                    <img src="img/funko2.png" alt="funko" class="funko-novedades producto-img-novedades">
                    <p class="funko">Funko</p>
                <h4>Funko POP | Game Of Thrones - Daenerys 25</h4>
                <p class="texto-gris">6 Cuotas s/interés de</p>
                <p class="precio-cuotas">$211,50</p>

                <div class="precio-final">
                <p>Final: </p>
                <p class="tachado final-normal">$2.390</p>
                <p class="precio-final-rojo final-rojo-mobile">$1.269</p>
                </div>
                    <img src="img/cart-green.png" alt="carrito" class="carrito-producto">
                </article>



                <article class="producto-novedades mochila-novedades">
                    <img src="img/mochila.png" alt="funko" class="producto-img-novedades">
                    <p class="funko">Jansport</p>
                    <h4>Mochila Madalyn Floral</h4>
                    <p class="texto-gris">6 Cuotas s/interés de</p>
                    <p class="precio-cuotas">$211,50</p>
    
                    <div class="precio-final">
                    <p>Final: </p>
                    <p class="tachado final-normal">$2.390</p>
                    <p class="precio-final-rojo final-rojo-mobile">$1.269</p>
                    </div>
                    <img src="img/cart-green.png" alt="carrito" class="carrito-producto">
                </article>


                
            


                <article class="producto-novedades">
                    <img src="img/funko1.png" alt="funko" class="funko-novedades producto-img-novedades">
                    <img src="img/descuento-10.png" alt="" class="descuento-novedades"> 
                     <p class="porcentaje-descuento-novedades">10%</p>
                    <p class="funko funko-descuento">Funko</p>
                    <h4>Funko POP | Game Of Thrones - Daenerys 25</h4>
                    <p class="texto-gris">6 Cuotas s/interés de</p>
                    <p class="precio-cuotas">$211,50</p>
    
                    <div class="precio-final">
                    <p>Final: </p>
                    <p class="tachado">$2.390</p>
                    <p class="precio-final-rojo">$1.269</p>
                    </div>
                    <img src="img/cart-green.png" alt="carrito" class="carrito-producto">
                </article>


                <article class="producto-novedades mochila-novedades">
                    <img src="img/mochila.png" alt="funko" class="producto-img-novedades">
                    <p class="funko">Jansport</p>
                    <h4>Mochila Madalyn Floral</h4>
                    <p class="texto-gris">6 Cuotas s/interés de</p>
                    <p class="precio-cuotas">$211,50</p>
    
                    <div class="precio-final">
                    <p>Final: </p>
                    <p class="tachado final-normal">$2.390</p>
                <p class="precio-final-rojo final-rojo-mobile">$1.269</p>
                    </div>
                    <img src="img/cart-green.png" alt="carrito" class="carrito-producto">
                </article>




            </div>

            <div class="flechas-cuatro-de-doce">

            <div class="flechas-novedades-mobile">
                <img src="img/flecha-izq.svg" alt="flecha izquierda">
                <img src="img/flecha-der.svg" alt="flecha derecha">
            </div>    
            
            


            <p class="dos-de-doce-mobile">2 de 12</p>
            <p class="cuatro-de-doce">4 de 12</p>
            </div>

        </section>


        <a href="#inicio" class="subir">
            <img src="img/flecha-subir.png" alt="">
            <p>SUBIR</p>
        </a>


    </main>


    <footer>
 

        <article class="columna-footer columna-contacto">
            <div class="contacto-mayoristas">
                <p class="contacto">Contacto</p>
                <p class="mayoristas">MAYORISTAS</p>
            </div>
            <div class="buscas-ofertas">
            <p>¿Buscás ofertas?</p>
            <form action="" method="POST">
                <input type="text" placeholder="ingresá tu eMail">
                <button>ENVIAR</button> 
            </form>
            </div>
        </article>


        <article class="columna-footer redes-preguntas redes">
           
            <div class="redes-nombre">
            <p>INSTAGRAM</p>
            <p>YOUTUBE</p>
            <p>FACEBOOK</p>
            </div>

            <div class="redes-logos">
            <img src="img/instagram.png" alt="instagram">
            
           
            <img src="img/youtube.png" alt="youtube">
            
           
            <img src="img/facebook.png" alt="facebook">
            </div>

        </article>

        <article class="columna-footer redes-preguntas">
            <p>PREGUNTAS FREC</p>
            <p>TÉRM & COND</p>
            <p>MIS PEDIDOS</p>
        </article>

       


        <div class="imagenes-servicios">
            <div class="grupos-servicios grupo-1">
            <img src="img/cace.svg" alt="cace" class="servicio-con-borde">
            <img src="img/ahora_18 1.png" alt="ahora 18" class="servicio-con-borde">
            <img src="img/hot-week.png" alt="hot week">
            </div>
            <div class="grupos-servicios grupo-2">
            <img src="img/afip.png" alt="afip" class="afip-img">
            <img src="img/vtex.png" alt="vtex">
            <img src="img/vector-cruce.png" alt="cruce">
            </div>
        </div>



    


    </footer>

</body>
</html>